@-webkit-keyframes lightboxImg {
	0% {
		transform: scale(0.8);
		-webkit-transform: scale(0.8);
	}
	100% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
}
@-moz-keyframes lightboxImg {
	0% {
		transform: scale(0.8);
		-webkit-transform: scale(0.8);
	}
	100% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
}
@-ms-keyframes lightboxImg {
	0% {
		transform: scale(0.8);
		-webkit-transform: scale(0.8);
	}
	100% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
}
@-o-keyframes lightboxImg {
	0% {
		transform: scale(0.8);
		-webkit-transform: scale(0.8);
	}
	100% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
}
@keyframes lightboxImg {
	0% {
		transform: scale(0.8);
		-webkit-transform: scale(0.8);
	}
	100% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
}

@-webkit-keyframes showItem {
	0% {
		transform: scale(0.8);
		-webkit-transform: scale(0.8);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		-webkit-transform: scale(1);
		opacity: 1;
	}
}
@-moz-keyframes showItem {
	0% {
		transform: scale(0.8);
		-webkit-transform: scale(0.8);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		-webkit-transform: scale(1);
		opacity: 1;
	}
}
@-ms-keyframes showItem {
	0% {
		transform: scale(0.8);
		-webkit-transform: scale(0.8);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		-webkit-transform: scale(1);
		opacity: 1;
	}
}
@-o-keyframes showItem {
	0% {
		transform: scale(0.8);
		-webkit-transform: scale(0.8);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		-webkit-transform: scale(1);
		opacity: 1;
	}
}
@keyframes showItem {
	0% {
		transform: scale(0.8);
		-webkit-transform: scale(0.8);
		opacity: 0;
	}
 
	100% {
		transform: scale(1);
		-webkit-transform: scale(1);
		opacity: 1;
	}
}
@-webkit-keyframes rotation {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(359deg);
	}
}
@-moz-keyframes rotation {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(359deg);
	}
}
@-ms-keyframes rotation {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(359deg);
	}
}
@-o-keyframes rotation {
	0% {
		transform: rotate(0);
	}
	
	100% {
		transform: rotate(359deg);
	}
}
@keyframes rotation {
	0% {
		transform: rotate(0);
	}
	
	100% {
		transform: rotate(359deg);
	}
}


@-webkit-keyframes blink {
	0% {
		opacity: .5;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes blink {
	0% {
		opacity: .5;
	}
	100% {
		opacity: 1;
	}
}
@-ms-keyframes blink {
	0% {
		opacity: .5;
	}
	100% {
		opacity: 1;
	}
}
@-o-keyframes blink {
	0% {
		opacity: .5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes blink {
	0% {
		opacity: .5;
	}
	100% {
		opacity: 1;
	}
}


@-webkit-keyframes slideSection {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(0%);
	}
}
@-moz-keyframes slideSection {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(0%);
	}
}
@-ms-keyframes slideSection {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(0%);
	}
}
@-o-keyframes slideSection {
	0% {
		transform: translateX(100%);
	} 
	100% {
		transform: translateX(0%);
	}
}
@keyframes slideSection {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(0%);
	}
}
@-webkit-keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		/* style */
	}
}
@-moz-keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
@-ms-keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
@-o-keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
