@media (max-width: 1199px){
	.nav__burger{
		display:block!important;
	}
	.aside{
		position: absolute;
		left: -270px;
	}
	.aside.open{
		margin-left: 270px;
	}
	.aside.open .nav__burger{
		left: 300px;
	}
	.section{
		margin-left: -270px;
	}
	.aside.open .nav__burger span:before{
		transform: rotate(45deg);
		top: 0px;
	}
	.aside.open .nav__burger span:after{
		transform: rotate(-45deg);
		top: 0px;
	}
	.aside.open .nav__burger span{
		background-color: transparent;
	}
	.services .services__item{
		flex: 0 0 49%;
	}
}

@media (max-width: 970px){
	.services .services__item{
		flex: 0 0 50%;
		max-width: 50%;
	}
	.services .services__item{
		flex: 0 0 100%;
		max-width: 100%;
	}
	.portfolio__main .main__item{
		flex: 0 0 49%;
	}

}
@media (max-width: 710px){
	.portfolio__main .main__item{
		flex: 0 0 100%;
		max-width: 100%;

	}
	.main__blog-section .blog__item{
		flex: 0 0 100%;
		max-width: 100%;
	}
	.section{
		width: 100%;
	}
}
