.aside .logo a:before{
	border-top: 4px solid rgb(169,146,43);
	border-left: 4px solid rgb(169,146,43);

}

.aside .logo a:after{
	border-right: 4px solid rgb(169,146,43);
	border-bottom: 4px solid rgb(169,146,43);
}